# meine Umgebung
.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.spec

# venv
venv/
.venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
